/* VARIABLES */
$marron: #b99e64;
$darkMauve: rgb(207, 30, 214);
$darkBlue: rgb(0, 38, 255);
$companyBlue: #1774eb;
$companyPink: #f73163;
$companyGreen: #1dd05d;
$white: #ffffff;
$black: #000000;
$darkGrey: #999999;
$lightGrey: #d3d3d3;
$lightGreen: #5ca595;

/*DARK THEME VARIABLES*/
$darkModeBlack: #121212;
$darkModeWhite: #f7f7f7;
$primary: #303f9f;
$lightBlue: rgb(184, 195, 255);
$grey: #bdbdbd;
$green: #00897b;
$red: #c62828;
$deepPurple: #673ab7;
$amber: #ff8f00;
$conditions: #ffa48e;
$location: #4acfac;
$purple: #7e8ce0;

/* Second Section THEME */
$secDarkBlue: #1b263c;
$secYellow: #ecd364;
$secCleanPink: #ba714f;
$secYellow1: #fe6a12;
$secYellow2: #f7870b;
$secLightPink: #ce583a;
$secCleanWhite: #efe1be;
$secLovedOrange: rgb(253, 111, 83);
$secLovedOrange2: rgb(155, 66, 48);
$secDarkGreen: #0b2434;
$secIvory: #ecedea;
$secTaupe: #c8c4c1;
$secBlueGray: #8ba3a8;
$secOrange: #ffb067;

/* Contact Section Theme */
$conLightGreen: #2a6254;
$conLightPink: #f6d2f2;
$conViolet: #5b1553;
$conLightAlmber: #f4bf93;
$conDarkGreen: #37382e;
$conOrange: #f09e02;
$conLightOrange: #f7d244;
$conRed: #e20e0f;
