@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Piedra&family=Roboto:ital,wght@0,300;0,700;0,900;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: $darkModeBlack;
  color: $darkGrey;
}
a {
  color: $darkGrey;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

nav.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10%;
  font-size: medium;

  a.navbar-logo {
    width: 50%;
    font-size: 30px;
    padding-left: 3%;
    color: $lightGrey;
    margin-top: 2%;
    font-family: "Piedra", sans-serif;
  }
  .links-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }
  .links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    a {
      font-weight: 600;
      letter-spacing: 0.05em;
    }
  }
}

.form-container {
  width: 70%;
  height: 50%;
  left: 15%;
  top: 25%;
  position: absolute;
  display: flex;
  .left-container {
    position: relative;
    background-color: $conDarkGreen;
    color: $conLightOrange;
    width: 60%;
  }
  .right-container {
    position: relative;
    background-color: $conOrange;
    width: 40%;
    form.form {
      padding-top: 30%;
      padding-left: 20%;
      padding-right: 20%;
      input {
        color: black !important;
      }
      .MuiInput-underline:before {
        border-bottom-color: $conDarkGreen !important;
      }
      // width: 80%;
    }
    .text-fields {
      width: 100%;
      display: flex;
      flex-direction: column;
      * {
        color: $conDarkGreen !important;
      }
    }
    .email-input {
      margin-bottom: 10%;
    }
    .validation {
      margin-top: 7%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

video {
  border-radius: 30px;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  .logged-as {
    font-style: italic;
    font-weight: 100;
    letter-spacing: 0.05em;
  }
}
